%footer
  .small
    The
    = link_to "#" do
      Ruby on Rails Tutorial
    By
    = link_to "#" do
      Michael Hartl
    %nav
      %ul
        %li
          = link_to "About", static_pages_about_path
        %li
          = link_to "Contact", static_pages_contact_path
        %li
          = link_to "News", '#'
